___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [2]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [4]:
print (pd.__version__)

1.1.1

In [8]:
pd.options

In [12]:
pd._config

In [4]:
df = pd.read_csv('/home/daryna/Desktop/data_science/Ecommerce Purchases')

Скільки рядків і стовпців в наборі даних:

In [49]:
df.shape

(10000, 14)

Перевірити, чи в наборі даних містяться порожні значення:

In [51]:
df.isnull().values.any()

False

In [45]:
df.isnull().sum().sum()

0

Яка середня ціна закупки (Purchase Price):

In [26]:
df['Purchase Price'].mean()

50.347302

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [33]:
df1 = df[df['Language']=='en']

In [35]:
df1['Language'].count()

1098

Скільки людей має посаду «Lawyer»?

In [41]:
df2 = df[df['Job']=='Lawyer']

In [42]:
df2['Job'].count()

30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [63]:
df[df['AM or PM']=='AM'].shape[0]

4932

In [57]:
df[df['AM or PM']=='PM'].shape[0]

5068

Які 5 найпоширеніших назв вакансій?

In [7]:
df['Job'].value_counts()[:5]

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [15]:
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [35]:
df[df['Lot']=='90 WT']['Purchase Price'].item()

75.1

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [38]:
df[df['Credit Card']==4926535242672853]['Email'].item()

'bondellen@williams-garza.com'

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [44]:
df[(df['CC Provider']== 'American Express') & (df['Purchase Price'] > 99)]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
280,81060 Dustin Causeway Apt. 503\nPort Danielche...,80 zh,PM,Mozilla/5.0 (Windows NT 5.01) AppleWebKit/5362...,Clay PLC,377737470673585,10/17,349,American Express,hfarley@hicks.com,Ergonomist,134.52.148.32,de,99.13
372,"359 Stanley Coves\nSalasfort, SD 59457",75 Ub,PM,Opera/8.42.(X11; Linux x86_64; en-US) Presto/2...,Davis-Lawrence,371995567939253,02/26,1877,American Express,amberhull@jones.net,Training and development officer,198.98.34.250,pt,99.08
2264,"040 Ingram Way Suite 602\nEast Matthew, AR 67341",52 WA,AM,Mozilla/5.0 (Windows NT 6.0) AppleWebKit/5341 ...,"Baker, Simmons and Pitts",3096946456575623,11/22,56,American Express,holtamanda@gmail.com,Archaeologist,185.14.106.115,es,99.85
3619,"03233 Angela Road Apt. 808\nEast Jilliantown, ...",41 nH,PM,Opera/9.53.(Windows 95; en-US) Presto/2.9.175 ...,"Silva, Kim and Martinez",4807251488895729,10/21,948,American Express,jonesjesse@castro.info,Garment/textile technologist,87.66.16.4,en,99.69
7381,"40804 Belinda Roads Apt. 186\nWest Nicoleberg,...",30 GH,AM,Opera/9.32.(Windows NT 4.0; it-IT) Presto/2.9....,Blair-Keith,180089858618619,05/19,2107,American Express,woodsmatthew@walton.org,Fashion designer,223.87.136.82,es,99.81
8381,"274 Wallace Pine Apt. 189\nMartinberg, WY 7548...",32 rI,PM,Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....,Kelly-Newman,5527104423944290,05/18,711,American Express,joneswilliam@cox.net,"Surveyor, land/geomatics",29.211.114.191,ru,99.36
8817,"3658 Campos Lodge\nChambersfurt, MH 86260",24 ej,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows NT ...,Fisher-Jones,210046575239925,09/25,860,American Express,jessica35@hotmail.com,Forensic scientist,18.74.143.113,fr,99.16
9856,"058 Miranda Locks Suite 792\nPort Davidstad, P...",73 IW,PM,Mozilla/5.0 (Windows NT 5.0) AppleWebKit/5360 ...,Olson-Navarro,6011037226242937,03/18,757,American Express,brendastewart@dalton.info,Site engineer,96.79.250.154,de,99.97

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [54]:
df[df['CC Exp Date'].str.contains("/25")].shape[0]

1033

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [127]:
df6=df
df6['domain'] = df6['Email'].str.split('@').str[1]
df6['domain'].value_counts()[:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: domain, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [11]:
df.groupby(['Browser Info', 'Job'])[['Browser Info']].count()

                                                                                          Browser Info
Browser Info                                       Job
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 r... Psychotherapist, dance movement                   1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 r... Retail merchandiser                               1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 r... Firefighter                                       1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 r... Broadcast presenter                               1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0) ... Development worker, international aid             1
...                                                                                                ...
Opera/9.99.(X11; Linux i686; sl-SI) Presto/2.9.... Company secretary                                 1
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.... Dramatherapist                                    1
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.... Private music teacher                             1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.... Hotel manager                                     1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.... Scientist, forensic                               1

[9989 rows x 1 columns]

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [7]:
df7=df

In [8]:
def markup(el):
    if el > 50:
        el=el*1.2
    elif el>100:
        el=el*1.1
    else:
        el=el*1.3
    return el

In [9]:
df7['Actual price']=df7['Purchase Price'].map(markup)
df7

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.768
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.876
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.235
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.648
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21,98.652
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,33.319
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98,100.776
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84,50.492
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59,81.108

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [10]:
df8 = df7[['Language', 'Actual price']].copy()
df8['Rank'] = df.groupby('Language')['Actual price'].rank(ascending=False)
df8.sort_values('Actual price', ascending=False)

     Language  Actual price    Rank
2092       el       119.988     1.0
7807       de       119.988     1.0
9856       de       119.964     2.0
7604       el       119.940     2.0
3844       el       119.916     3.0
...       ...           ...     ...
2783       de         0.026  1155.0
8656       ru         0.026  1155.0
6863       es         0.013  1095.0
2876       it         0.000  1086.0
5487       zh         0.000  1059.0

[10000 rows x 3 columns]

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [152]:
df7['Language']=df7['Language'].astype('category')
df7['Language'] = df7['Language'].cat.codes
df7= df7.rename({'Language': 'Encoded_lang'}, axis=1) 
df7.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Encoded_lang,Purchase Price,domain,Actual price,rank
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,1,98.14,yahoo.com,117.768,27.5
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,4,70.73,reed.com,84.876,327.0
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,0,0.95,morales-harrison.com,1.235,1143.0
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,3,78.04,olson-robinson.info,93.648,239.5
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,3,77.82,gmail.com,93.384,244.5

Кінцевий набір даних збережіть у файл з розширенням csv.

In [12]:
df7.to_csv('Lab_5.2_done.csv', index=False)