In [2]:
import sqlite3

## Tables Info

In [11]:
#all tables in db
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
all_tables = 'SELECT name from sqlite_master where type= "table"'

curs.execute(all_tables)
for el in curs.fetchall():
    print(el)
    
conn.close()

('Customers',)
('OrderItems',)
('Orders',)
('Products',)
('Vendors',)

In [36]:
#all columns and their properties in Customers
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
all_cols = 'PRAGMA table_info(Customers)'

for row in curs.execute(all_cols):
        print(row)
    
conn.close()

(0, 'cust_id', 'char(10)', 1, None, 1)
(1, 'cust_name', 'char(50)', 1, None, 0)
(2, 'cust_address', 'char(50)', 0, None, 0)
(3, 'cust_city', 'char(50)', 0, None, 0)
(4, 'cust_state', 'char(5)', 0, None, 0)
(5, 'cust_zip', 'char(10)', 0, None, 0)
(6, 'cust_country', 'char(50)', 0, None, 0)
(7, 'cust_contact', 'char(50)', 0, None, 0)
(8, 'cust_email', 'char(255)', 0, None, 0)

In [37]:
#all columns and their properties in OrderItems
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
all_cols = 'PRAGMA table_info(OrderItems)'

for row in curs.execute(all_cols):
        print(row)
    
conn.close()

(0, 'order_num', 'int', 1, None, 1)
(1, 'order_item', 'int', 1, None, 2)
(2, 'prod_id', 'char(10)', 1, None, 0)
(3, 'quantity', 'int', 1, None, 0)
(4, 'item_price', 'decimal(8,2)', 1, None, 0)

In [38]:
#all columns and their properties in Orders
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
all_cols = 'PRAGMA table_info(Orders)'

for row in curs.execute(all_cols):
        print(row)
    
conn.close()

(0, 'order_num', 'int', 1, None, 1)
(1, 'order_date', 'datetime', 1, None, 0)
(2, 'cust_id', 'char(10)', 1, None, 0)

In [39]:
#all columns and their properties in Products
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
all_cols = 'PRAGMA table_info(Products)'

for row in curs.execute(all_cols):
        print(row)
    
conn.close()

(0, 'prod_id', 'char(10)', 1, None, 1)
(1, 'vend_id', 'char(10)', 1, None, 0)
(2, 'prod_name', 'char(255)', 1, None, 0)
(3, 'prod_price', 'decimal(8,2)', 1, None, 0)
(4, 'prod_desc', 'text', 0, None, 0)

In [40]:
#all columns and their properties in Vendors
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
all_cols = 'PRAGMA table_info(Vendors)'

for row in curs.execute(all_cols):
        print(row)
    
conn.close()

(0, 'vend_id', 'char(10)', 1, None, 1)
(1, 'vend_name', 'char(50)', 1, None, 0)
(2, 'vend_address', 'char(50)', 0, None, 0)
(3, 'vend_city', 'char(50)', 0, None, 0)
(4, 'vend_state', 'char(5)', 0, None, 0)
(5, 'vend_zip', 'char(10)', 0, None, 0)
(6, 'vend_country', 'char(50)', 0, None, 0)

**************************************************

## Task1

In [18]:
# all cust_id from Customers:
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t11 = 'SELECT cust_id FROM Customers'

for row in curs.execute(sql_t11):
        print(row)
conn.close()

('1000000001',)
('1000000002',)
('1000000003',)
('1000000004',)
('1000000005',)

In [19]:
#Customer Table
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t12 = 'SELECT * FROM Customers'

for row in curs.execute(sql_t12):
        print(row)
conn.close()

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

In [22]:
# Список клієнтів (cust_name) відсортованих від Z до A:
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t13 = 'SELECT cust_name FROM Customers ORDER BY cust_name DESC'

for row in curs.execute(sql_t13):
        print(row)
conn.close()

('Village Toys',)
('The Toy Store',)
('Kids Place',)
('Fun4All',)
('Fun4All',)

In [23]:
# Таблиця клієнтів та замовлень (cust_id, order_num) відсортованих по клієнту та даті замовлення:
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t14 = 'SELECT cust_id, order_num FROM Orders ORDER BY cust_id, order_date'

for row in curs.execute(sql_t14):
        print(row)
conn.close()

('1000000001', 20009)
('1000000001', 20005)
('1000000003', 20006)
('1000000004', 20007)
('1000000005', 20008)

In [26]:
# Таблиця на основі Items з кількістю та вартістю товару. Відсортуйте в порядку спадання по кількості товару
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t15 = 'SELECT quantity, item_price FROM OrderItems ORDER BY quantity DESC'

for row in curs.execute(sql_t15):
        print(row)
conn.close()

(250, 2.49)
(250, 2.49)
(250, 2.49)
(100, 5.49)
(100, 10.99)
(100, 2.99)
(100, 2.99)
(100, 2.99)
(50, 11.49)
(50, 4.49)
(20, 5.99)
(10, 8.99)
(10, 11.99)
(10, 3.49)
(10, 3.49)
(10, 3.49)
(5, 4.99)
(5, 11.99)

In [28]:
# Товар з таблиці Products, ціна якого становить 9.49
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t16 = 'SELECT prod_name FROM Products WHERE prod_price = 9.49'

for row in curs.execute(sql_t16):
        print(row)
conn.close()

('King doll',)
('Queen doll',)

In [30]:
# Назва товару, ціна якого в діапазоні від 3 до 6. Відсортуйте по ціні в порядку зростання
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t17 = 'SELECT prod_name, prod_price FROM Products WHERE prod_price BETWEEN 3 AND 6 ORDER BY prod_price'

for row in curs.execute(sql_t17):
        print(row)
conn.close()

('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)

## Task2

In [42]:
# Кількість товару, що було продано
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t21 = '''SELECT prod_id, SUM(quantity) FROM OrderItems GROUP BY prod_id
            UNION 
            SELECT "sum: ", SUM(quantity) FROM OrderItems'''

for row in curs.execute(sql_t21):
        print(row)
conn.close()

('BNBG01', 360)
('BNBG02', 360)
('BNBG03', 360)
('BR01', 120)
('BR02', 10)
('BR03', 165)
('RGAN01', 55)
('sum: ', 1430)

In [43]:
# Кількість найменувань товару, ціна якого > 4
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t22 = 'SELECT COUNT(prod_name) FROM Products WHERE prod_price >4'

for row in curs.execute(sql_t22):
        print(row)
conn.close()

(6,)

In [46]:
# 3 найдорожчі товари в базі
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t23 = 'SELECT prod_name, prod_price FROM Products ORDER BY prod_price DESC LIMIT 3'

for row in curs.execute(sql_t23):
        print(row)
conn.close()

('18 inch teddy bear', 11.99)
('King doll', 9.49)
('Queen doll', 9.49)

In [52]:
# Кількість замовлень для кожного клієнта (використовуючи підзапити)
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t24 = 'SELECT cust_id AS c1, sum(1) FROM (SELECT cust_id FROM Orders) GROUP BY cust_id'

for row in curs.execute(sql_t24):
        print(row)
conn.close()

('1000000001', 2)
('1000000003', 1)
('1000000004', 1)
('1000000005', 1)

In [53]:
# Список клієнтів та їх замовлень (використовуючи JOIN)
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t25 = 'SELECT cust_name, order_num FROM Orders JOIN Customers ON Customers.cust_id=Orders.cust_id'

for row in curs.execute(sql_t25):
        print(row)
conn.close()

('Village Toys', 20005)
('Fun4All', 20006)
('Fun4All', 20007)
('The Toy Store', 20008)
('Village Toys', 20009)

In [54]:
# Список товарів, ціна яких < 5; список товарів, ціна яких >=5; використати UNION для об'єднання
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()
sql_t26 = '''SELECT prod_name, prod_price FROM Products WHERE prod_price < 5
             UNION
             SELECT prod_name, prod_price FROM Products WHERE prod_price >= 5 '''

for row in curs.execute(sql_t26):
        print(row)
conn.close()

('12 inch teddy bear', 8.99)
('18 inch teddy bear', 11.99)
('8 inch teddy bear', 5.99)
('Bird bean bag toy', 3.49)
('Fish bean bag toy', 3.49)
('King doll', 9.49)
('Queen doll', 9.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)